/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* цвет подписи в футере rgba(255, 255, 255, 0.4) */
/* цвет контактов в футере rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --footer-signature-color: rgba(255, 255, 255, 0.4);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
}

/* General */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Button */

.button {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--primary-text-color);
  background-color: var(--secondary-background-color);
}

/* Index.html */
/* Header */

.logo {
  color: var(--primary-text-color);
}

.web-logo {
  color: var(--accent-color);
}

.header-contacts {
  color: var(--title-text-color);
}

.contacts-nav .header-contacts:hover,
.contacts-nav .header-contacts:focus {
  color: var(--accent-color);
}

/* Site nav */
.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--primary-white-color);
}

/* What we do */
.feature-list .feature-content {
  color: var(--title-text-color);
}

/* Our team */
.team-role {
  color: var(--title-text-color);
}

/* Footer */

.footer {
  background-color: var(--footer-background-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

.address {
  color: var(--primary-white-color);
}

.footer-contacts {
  color: var(--footer-contacts-color);
}

.footer-title {
  color: var(--primary-white-color);
}

.signature {
  color: var(--footer-signature-color);
}

/* Portfolio */

.section-list .section-content {
  color: var(--title-text-color);
}

.section-list .button:hover,
.section-list .button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
