/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* дополнительный цвет футера rgba(255, 255, 255, 0.4) */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-signature-color: rgba(255, 255, 255, 0.4);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Header */

.logo {
  color: var(--primary-text-color);
}

.web-logo {
  color: var(--accent-color);
}

/* Site nav */
.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero-title {
  color: var(--primary-white-color);
}

.hero-button {
  color: var(--primary-white-color);
}

/* What we do */
.feature-content {
  color: var(--title-text-color);
}

/* Our team */
.team-role {
  color: var(--title-text-color);
}

/* Footer */
.footer-logo {
  color: var(--primary-white-color);
}

.address {
  color: var(--primary-white-color);
}

.footer-contacts {
  color: var(--footer-contacts-color);
}

.footer-title {
  color: var(--primary-white-color);
}

.signature {
  color: var(--footer-signature-color);
}
