/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* дополнительный цвет футера rgba(255, 255, 255, 0.4) */

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-color: rgba(255, 255, 255, 0.4);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.logo {
  color: var(--primary-text-color);
}
